/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1.5;
  font-family: "Noto Sans TC", "Roboto", sans-serif, serif;
  box-sizing: border-box;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.header .container {
  width: 1296px;
  margin: 0 auto;
  padding: 9px;
}
.header .container .header-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .container .header-items .menu {
  gap: 32px;
  display: flex;
  justify-content: space-between;
}
.header .container .header-items .menu .menu-item a {
  align-items: center;
  display: flex;
  text-decoration: none;
  line-height: 30px;
  font-size: 20px;
  color: #8D8D8D;
}
.header .container .header-items .menu .menu-item a .material-symbols-outlined {
  margin-right: 3px;
}
.header .container .header-items .menu .menu-item a:hover {
  color: #916000;
}

.navbar-mobile-top, .mobile-menu {
  display: none;
}

.navbar-mobile-top {
  padding: 9px 12px;
}
.navbar-mobile-top .container {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.navbar-mobile-top .container .top-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-mobile-top .container .top-icons .cart-num .cart-icon {
  position: relative;
  font-size: 20px;
}
.navbar-mobile-top .container .top-icons .cart-num .cart-icon i {
  color: #8D8D8D;
}
.navbar-mobile-top .container .top-icons .cart-num .cart-icon span {
  padding: 2px 6px;
  background-color: #AC8A46;
  color: #fff;
  border-radius: 50%;
  position: absolute;
  top: -4px;
  right: -2px;
  font-size: 8px;
}
.navbar-mobile-top .container .top-icons .bar-icon {
  margin-left: 8px;
}
.navbar-mobile-top .container .top-icons .bar-icon .material-symbols-outlined {
  color: #8D8D8D;
  font-size: 36px;
}

.mobile-menu ul {
  max-width: 100%;
}
.mobile-menu ul li {
  background-color: #707070;
  padding: 8px;
  text-align: center;
  border-bottom: 1px solid #ffffff;
}
.mobile-menu ul li a {
  text-decoration: none;
  text-align: center;
  color: #ffffff;
}
.mobile-menu ul li a:hover {
  color: #AC8A46;
}

@media (max-width: 992px) {
  .header {
    display: none;
  }
  .navbar-mobile-top {
    display: block;
  }
  .mobile-menu {
    display: none;
  }
}
@media (max-width: 767px) {
  .header {
    display: none;
  }
  .navbar-mobile-top {
    display: block;
  }
  .mobile-menu {
    display: none;
  }
}
.banner {
  background-image: url(https://images.unsplash.com/photo-1588159343745-445ae0b16383?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1332&q=80);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 870px;
}
.banner .container {
  max-width: 1296px;
  margin: 0 auto;
}
.banner .container .banner-content {
  max-width: 100%;
  display: grid;
  justify-content: end;
  text-align: left;
  padding-top: 20%;
  padding-right: 5%;
}
.banner .container .banner-content h1 {
  color: #ffffff;
  font-size: 40px;
  line-height: 60px;
  font-weight: bold;
}
.banner .container .banner-content p {
  color: #ffffff;
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 16px;
}
.banner .container .banner-content .btn {
  max-width: 85%;
  border-radius: 30px;
  border: 2px solid #ffffff;
  color: #ffffff;
  font-size: 28px;
  line-height: 42px;
}
.banner .container .banner-content .btn:hover {
  background-color: hsl(0, 0%, 90%);
}

@media (max-width: 992px) {
  .banner {
    max-width: 100%;
    object-fit: cover;
    height: 480px;
  }
  .banner .container {
    justify-content: center;
  }
  .banner .container .banner-content {
    display: grid;
    justify-content: center;
    text-align: left;
    padding-top: 15%;
  }
}
@media (max-width: 767px) {
  .banner {
    background-position: left center;
    background-size: cover;
    max-width: 100%;
    padding: 0 12px;
  }
  .banner .container {
    justify-content: center;
  }
  .banner .container .banner-content {
    display: grid;
    justify-content: center;
    text-align: left;
  }
  .banner .container .banner-content h1 {
    font-size: 30px;
    line-height: 48px;
  }
  .banner .container .banner-content p {
    font-size: 20px;
    line-height: 30px;
  }
  .banner .container .banner-content p br {
    display: none;
  }
  .banner .container .banner-content .btn {
    max-width: 100%;
  }
}
.pro-content {
  padding: 60px 0;
}
.pro-content .container {
  max-width: 1296px;
  margin: 0 auto;
}
.pro-content .container ul .productContent {
  display: flex;
  justify-content: center;
}
.pro-content .container ul .productContent .content-img {
  max-width: 100%;
}
.pro-content .container ul .productContent .content-img img {
  height: 555px;
  width: 555px;
  object-fit: cover;
}
.pro-content .container ul .productContent .long-img img {
  height: 100%;
  max-width: 100%;
}
.pro-content .container ul .productContent .content-p {
  padding: 105px;
}
.pro-content .container ul .productContent .content-p h2 {
  font-size: 32px;
  line-height: 48px;
  font-weight: bold;
}
.pro-content .container ul .productContent .content-p p {
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 16px;
}
.pro-content .container ul .productContent .content-p h3 {
  font-size: 24px;
  line-height: 36px;
  font-weight: bold;
}
.pro-content .container ul .productContent .content-p h4 {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 52px;
}
.pro-content .container ul .productContent .content-p .black-btn {
  border: 2px solid #000;
  color: #000;
  font-size: 20px;
  line-height: 30px;
  border-radius: 30px;
  text-decoration: none;
  width: 100%;
  padding: 9px 51px;
}
.pro-content .container ul .productContent .content-p .black-btn:hover {
  background-color: #000;
  color: #ffffff;
}
.pro-content .container ul .contReverse {
  flex-direction: row-reverse;
}

.brown-btn {
  color: #AC8A46;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
}
.brown-btn:hover {
  text-decoration: underline;
  color: #916000;
}

@media (max-width: 992px) {
  .pro-content {
    padding: 40px 12px;
  }
  .pro-content .container ul {
    margin: 0 auto;
  }
  .pro-content .container ul .productContent {
    flex-direction: column;
  }
  .pro-content .container ul .productContent .content-img {
    margin: 0 auto;
  }
  .pro-content .container ul .productContent .content-p {
    margin: 0 auto;
  }
}
@media (max-width: 767px) {
  .pro-content {
    padding: 40px 12px;
  }
  .pro-content .container ul .productContent {
    margin: 32px auto;
    padding: 0px 12px;
  }
  .pro-content .container ul .productContent .content-p {
    padding: 0px;
  }
  .pro-content .container ul .productContent .content-p h2 br, .pro-content .container ul .productContent .content-p p br {
    display: none;
  }
  .pro-content .container ul .productContent .content-p h2 {
    font-size: 28px;
  }
  .pro-content .container ul .productContent .content-p .black-btn {
    padding: 9px 2px;
    display: block;
    text-align: center;
    font-size: 18px;
  }
  .pro-content .container ul .productContent .content-p h3 {
    font-size: 20px;
    padding: 0;
  }
  .pro-content .container ul .productContent .content-p h3 br {
    display: none;
  }
  .pro-content .container ul .productContent .content-p h4 {
    margin-bottom: 20px;
  }
  .pro-content .container ul .productContent .content-p h4 br {
    display: none;
  }
}
.threeCard {
  background-color: #E0E0E0;
  padding: 40px 0;
}
.threeCard .container {
  max-width: 1296px;
  margin: 0 auto;
}
.threeCard .container .cardPrice {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}
.threeCard .container .cardPrice .famItem {
  width: 100%;
}
.threeCard .container .cardPrice .famItem .item-pic {
  display: block;
}
.threeCard .container .cardPrice .famItem .item-pic img {
  flex: 1 1 auto;
  height: 540px;
}
.threeCard .container .cardPrice .famItem .item-body h4 {
  font-size: 24px;
  line-height: 36px;
  font-weight: bold;
}
.threeCard .container .cardPrice .famItem .item-body .name {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 16px;
}
.threeCard .container .cardPrice .famItem .item-body .price {
  font-size: 16px;
  line-height: 24px;
}
.threeCard .container .cardPrice .famItem .item-body .price span {
  margin-left: 8px;
  color: #8D8D8D;
  text-decoration: line-through;
}

.item-pic {
  position: relative;
}
.item-pic .soldImg {
  opacity: 0.4;
}
.item-pic .soldoutText {
  position: absolute;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 767px) {
  .threeCard {
    padding: 40px 0;
  }
  .cardPrice {
    flex-direction: column;
    padding: 0px 12px;
  }
  .cardPrice .famItem {
    max-width: 100%;
  }
}
.contentImg {
  padding: 60px 0;
}
.contentImg .container {
  max-width: 1296px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contentImg .container .leftTopImg {
  max-width: 100%;
  margin-right: 30px;
}
.contentImg .container .leftTopImg img {
  width: 730px;
  height: 520px;
  object-fit: cover;
}
.contentImg .container .imgContent {
  text-align: left;
}
.contentImg .container .imgContent h5 {
  font-size: 32px;
  line-height: 48px;
  font-weight: bold;
}
.contentImg .container .imgContent .topP {
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 16px;
}
.contentImg .container .imgContent .rContent {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 16px;
}

@media (max-width: 992px) {
  .contentImg .container {
    flex-direction: column;
    padding: 0 12px;
  }
}
@media (max-width: 767px) {
  .contentImg .container {
    padding: 0 12px;
  }
  .contentImg .container .leftTopImg {
    margin: 0 auto;
  }
  .contentImg .container .imgContent br {
    display: none;
  }
}
.subcribeSection {
  background-image: url(https://images.unsplash.com/photo-1532413992378-f169ac26fff0?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1780&q=80);
  background-size: cover;
  background-position: center center;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.subcribeSection .container {
  margin: 0 auto;
}
.subcribeSection .container .subContent {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 112px;
}
.subcribeSection .container .subContent h6 {
  color: #8D8D8D;
  font-size: 32px;
  line-height: 48px;
  margin-bottom: 20px;
}
.subcribeSection .container .subContent .footerInter-group {
  max-width: 350px;
  height: 60px;
  display: flex;
  border-radius: 4px;
}
.subcribeSection .container .subContent .footerInter-group input {
  max-width: 214px;
  padding-left: 15px;
  flex: 2 1 auto;
  border: none;
  outline-color: #916000;
  border: 2px solid #916000;
  border-right: none;
  border-radius: 4px 0 0 4px;
}
.subcribeSection .container .subContent .footerInter-group .btn {
  flex: 1 1 auto;
  max-width: 129px;
  border: 2px solid #916000;
  background-color: #916000;
  border-radius: 0 4px 4px 0;
  color: #ffffff;
}

.footerBottom {
  background-color: #916000;
}
.footerBottom .container {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footerBottom .container .logoEnd {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footerBottom .container .logoEnd img {
  margin-right: 20px;
  padding: 20px 0;
}
.footerBottom .container .logoEnd p {
  color: #ffffff;
  padding: 32px 0;
  font-size: 14px;
  line-height: 21px;
}
.footerBottom .container .footer-menu {
  display: flex;
  justify-content: space-between;
}
.footerBottom .container .footer-menu li {
  margin-left: 36px;
}
.footerBottom .container .footer-menu li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 20px;
  line-height: 30px;
  padding: 28px 0;
}
.footerBottom .container .footer-menu li a:hover {
  color: blue;
}

@media (max-width: 767px) {
  .subcribeSection {
    padding: 0 12px;
  }
  .subcribeSection .container .subContent {
    max-width: 100%;
  }
  .subcribeSection .container .subContent h6 {
    font-size: 27px;
  }
  .subcribeSection .container .subContent .footerInter-group input {
    max-width: 65%;
  }
  .subcribeSection .container .subContent .footerInter-group .btn {
    max-width: 36.33%;
  }
  .footerBottom .container .logoEnd {
    padding: 0;
    margin: 0;
  }
  .footerBottom .container .logoEnd p {
    font-size: 11px;
  }
  .footerBottom .container .footer-menu {
    display: none;
  }
}
.secNav {
  background-color: #916000;
}
.secNav .container {
  margin: 0 auto;
}
.secNav .container ul {
  margin: 0 auto;
  display: flex;
}
.secNav .container ul .secItem {
  margin-right: 28px;
  padding: 14px 0;
}
.secNav .container ul .secItem a {
  color: #ffffff;
  font-size: 20px;
  line-height: 30px;
  text-decoration: none;
}
.secNav .container ul .secItem a:hover {
  color: blue;
}

@media (max-width: 767px) {
  .secNav {
    display: none;
  }
}
.product-items {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 80px 0;
  gap: 30px;
}
.product-items .item {
  margin-bottom: 56px;
}
.product-items .item img {
  width: 255px;
  height: 255px;
  object-fit: cover;
}
.product-items .item .proPrice h1 {
  line-height: 36px;
  font-size: 24px;
}
.product-items .item .proPrice p {
  line-height: 24px;
  font-size: 16px;
}
.product-items .item .proPrice .gray-price {
  display: flex;
}
.product-items .item .proPrice .gray-price p {
  margin-right: 8px;
}
.product-items .item .proPrice .gray-price span {
  line-height: 24px;
  font-size: 16px;
  text-decoration: line-through;
  color: #8D8D8D;
}
.product-items .item .pro-color {
  display: flex;
}
.product-items .item .pro-color .icon a {
  width: 22px;
  color: #916019;
}
.product-items .item .pro-color .icon a:hover {
  color: red;
}
.product-items .item .pro-color .heart-icon {
  margin-right: 8px;
}

@media (max-width: 992px) {
  .product-items {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
@media (max-width: 767px) {
  .product-items {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 15px;
  }
  .product-items .item {
    margin-bottom: 30px;
  }
  .product-items .item img {
    width: 120px;
    height: 165px;
    object-fit: cover;
  }
  .product-items .item .proPrice h1 {
    font-size: 18px;
  }
  .product-items .item .proPrice .gray-price p {
    font-size: 16px;
  }
  .product-items .item .proPrice .gray-price span {
    font-size: 14px;
  }
}
.pages {
  padding-bottom: 60px;
}
.pages .pagination .page-item a {
  line-height: 30px;
  font-size: 20px;
  color: #000;
}
.pages .pagination .page-item a.active {
  text-decoration: underline;
  color: #AC8A46;
}/*# sourceMappingURL=all.css.map */