.pro-content{
    padding: 60px 0;
    .container{
        max-width: 1296px;
        margin: 0 auto;
        ul{
            .productContent{
                display: flex;
                justify-content: center;
                .content-img{
                    max-width: 100%;
                    img{
                        height: 555px;
                        width: 555px;
                        object-fit: cover;
                    }
                }
                .long-img{
                    img{
                        height: 100%;
                        max-width: 100%;
                    }
                }
                .content-p{
                    padding: 105px;
                    h2{
                        font-size: $font-s-32;
                        line-height: 48px;
                        font-weight: bold;
                    }
                    p{
                        font-size: $font-s-20;
                        line-height: 30px;
                        margin-bottom: 16px;
                    }
                    h3{
                        font-size: $font-s-24;
                        line-height:36px;
                        font-weight: bold;
                    }
                    h4{
                        font-size:16px;
                        line-height:24px;
                        margin-bottom: 52px;
                    }
                    .black-btn{
                        border: 2px solid #000;
                        color:#000;
                        font-size: $font-s-20;
                        line-height: 30px;
                        border-radius: 30px;
                        text-decoration: none;
                        width: 100%;
                        padding: 9px 51px;
                        &:hover{
                            background-color: #000;
                            color:#ffffff;
                        }
                    }
                }
            }
            .contReverse{
                flex-direction: row-reverse;

            }
        }
    }
}
.brown-btn{
    color:$light-brown;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    &:hover{
        text-decoration: underline;
        color:$dark-brown;
    }
}

@include pad{
    .pro-content{
        padding: 40px 12px;
        .container{
            ul{
                margin: 0 auto;
                .productContent{
                    flex-direction: column;
                    .content-img{
                        margin: 0 auto;
                    }
                    .content-p{
                        margin: 0 auto;
                    }
                }
            }
        }
    }
}

@include iphone{
    .pro-content{
        padding: 40px 12px;
        .container{
            ul{
                .productContent{
                    margin: 32px auto;
                    padding: 0px 12px;
                    .content-p{
                        padding: 0px;
                        h2, p{
                            br{
                                display: none;
                            }
                        }
                        h2{
                            font-size: $font-s-28;
                        }
                        
                        .black-btn{
                            padding: 9px 2px;
                            display: block;
                            text-align: center;
                            font-size: $font-s-18;
                        }
                        h3{
                            font-size: $font-s-20;
                            padding: 0;
                            br{
                                display: none;
                            }
                        }
                        h4{
                            margin-bottom: 20px;
                            br{
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }
}